		/* Global Computer/Large ItemPage CSS*/
.main-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-sizing: border-box;
}

#brandPhoto {
	border: 1px solid black;


}

#itemInfo {
	border: 1px solid black;
	
}