.label {
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: underline;
}

.sub-label {
	font-weight: bold;
	text-decoration: underline;
}

fieldset {
	border: none;
}

.grid-container {
		display: grid;
			grid:
				'header header'
				'left  right ';
		grid-gap: 15px;
		padding: 15px;
			}

		.item1 { 
			grid-area: header; 
			text-align: center;
}

		.item2 { 
			grid-area: left; 
			text-align: left;
		}

		.item3 { 
			grid-area: right; 
			text-align: left;
		}

		.item4 { 
			grid-area:; 
			text-align: center;
			padding-top: 5px;
		}
		.item5 { 
			grid-area: ; 
			text-align: left;
			padding-top: 5px;
		}

		.item6 { 
			grid-area: ; 
			text-align: center;
			padding-top: 5px;
		}

		.item7 {
			grid-area: ;
			text-align: left;
			padding-top: 5px;
		}

		.item8 {
			grid-area: ;
			text-align: left;
			padding-top: 5px;
		}